[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
inquirer = "*"
numpy = ">=1.21.0"
torch = "*"
tqdm = "*"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
twine = "*"
types-tqdm = "*"
